<p id="notice"><%= notice %></p>

<h1><font color= "#73757a">Friends Photos</font></h1>

<% @photos.each do |photo| %>
<center>
<div 
< class="jumbotron" style="max-width: 500px">
  <%= image_tag photo.image, class: "img-responsive" %>
</div>
</center>
<% end %>
